{% load static %}
<!DOCTYPE html>
<html>

<head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'misc2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/explorePage.css' %}">
   
    

<style>
        .grid-container-footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 5px;
        padding: 20px;
        padding-left:80px;
       
      }
      .grid-container-footer > div {

        color: white;
        padding: 10px;
        font-size: 15px;
        text-align: left;
      }
      li {
         list-style-type: none;
        }

</style>

</head>
<body>

  <div class="header">

    <div class="logo-div">
    <a href="#default" class="logo">Air Arctic</a>
    </div>
    <div class="header-left">
      <a class="active" href="/api/exploreTrip/">Search Flights</a>
      <a href="/api/manageBooking/">Manage Booking</a>
      <a href="/api/flightStatus/">Flight Status</a>
    </div>
    <div class="header-right">
      {% if request.user.is_authenticated %}
      <a href="/api/logout/">Logout</a>
      {% else %}
      <a href ="/api/loginPage/">Login</a>
      {% endif %}
      <a href="/api/register/">Join Now</a>
    </div>
  </div>

<div class="explore">
<form method="post">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>

    <h3>Account Info</h3>
    <hr>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    {% csrf_token %}
    
    <label for="firstName"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="first_name" id="first_name" required>

    <label for="lastName"><b>Last Name</b></label>
    <input type="text" placeholder="Enter lastName" name="last_name" id="last_name" required><br>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>
<br>
    <h3>Contact Details</h3>

    <label for="contact"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Phone Number" name="pn" id="pn" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email" required>
    
    <br><br>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  <br>
  <br>
  <br>
  
  <div class="container signin">
    <p>Already have an account? <a href="/api/loginPage/">Sign in</a>.</p>
  </div>
</form>
</div>

<div class = "pre-footer" style="background-color: black; color: white;  padding: 10px; padding-left:80px; font-size:20px; "> <h5>Air Arctic > Register</h5></div> 
<div class="footer">
  <div class="grid-container-footer">
    <div> <h6>About</h6>
          <li>About Us</li>
          <li>Careers</li>
    </div>
    <div> <h6>Manage</h6>
      <li>Check In</li>
      <li>Manage Your Flight</li>
      <li>Flight Status</li>
    </div>
    <div> <h6>Book</h6>
      <li>Book Your Flight</li>
      <li>Search For Flight</li>
      <li>Planning Your Trip</li>
    </div> 
    <div> <h6>Loyalty</h6>
      <li>Login Into Air Arctic Rewards</li>
      <li>Join Air Arctic Rewards</li>
    </div>
    <div> <h6>Subscribe To Our Special Offers</h6><br>
      <form method = "post">
        {% csrf_token %}
        <input type="text" id="subscribeEmail" name="subscribeEmail" value="{{subscribeEmail}}" placeholder="Email Address" >
        <input type="submit" value="Subscribe" ></input>
        </form>
    </div>
    <div> <h6>Before You Fly</h6>
      <li>Baggage</li>
      <li>Visa & Passport Info</li>
      <li>Seats</li>
    </div>  
    <div> <h6>Help</h6>
      <li>Help Centre</li>
      <li>Contact an Agent</li>
    </div>
    <div><h6>Feedback</h6>
      <form method = "post">
        {% csrf_token %}
        <input type="submit" value="Site Feedback" ></input>
        </form>
    </div>
  </div>
  </div>
</div>

</body>
</html>
