{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table style="border: 1px solid black;">
        <th>Aircraft Id</th>
        <th>Aircraft Model</th>
\
        {% for item in items %}

        <tr style="border: 1px solid black;">
           <td>{{item.aircraft_id}}</td>
           <td>{{item.aircraftModel}}</td>
        </tr>

        {% endfor %}

           


    </table>
    
</body>
</html>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if items.has_previous %}
      <li class="page-item"><a class="page-link" href="/api/aircraftList/?page=1">First</a></li>
      <li class="page-item"><a class="page-link" href="/api/aircraftList/?page={{items.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for n in totalPageList %}
      <li class="page-item"><a class="page-link" href="/api/aircraftList/?page={{n}}">{{n}}</a></li>
        {% endfor %}

      {% if items.has_next %}
      <li class="page-item"><a class="page-link" href="/api/aircraftList/?page={{items.next_page_number}}">Next</a></li>
      <li class="page-item"><a class="page-link" href="/api/aircraftList/?page={{lastpage}}">Last</a></li>
      {% endif %}

      
    </ul>
  </nav>

  <a href="{% url 'aircraftForm' %}">Add Aircraft</a>
