{% load static %}
<!DOCTYPE html>
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'misc2.js' %}"></script>

    <style>
    table,th, td {
    padding: 15px;
      }
    </style>

</head>
<body onload="displaySpecificBooking()">

    <a href="{% url 'redirectToAllBookingsPage' %}">View All Bookings</a><br>

    {{request.user}}
    {% if request.user.is_authenticated %}
    <a href ="/api/logout/" type="submit">Logout</a><br>
    {% else %}
    <a href ="/api/loginPage/" type="submit">LogIn</a><br>
    {% endif %}

<script>
 
var jsUrl = new URL(window.location.href);
var bookingReferenceNumber = jsUrl.searchParams.get("bookingReferenceNumber");

console.log("url " + jsUrl)
console.log("Booking Reference is:" + bookingReferenceNumber)

async function getBookingByReferenceNumber(bookingReferenceNumber) {

      let booking =await fetch(`http://127.0.0.1:8000/api/bookings/?bookingReferenceNumber=${bookingReferenceNumber}`);
      booking = await booking.json()
      console.warn(booking)
      return booking

}

async function displaySpecificBooking() { 

    let bookingObj = await getBookingByReferenceNumber(bookingReferenceNumber)
    bookingStr = JSON.stringify(bookingObj)
    document.getElementById('bookingData').innerHTML=bookingStr

}

</script>

Booking confirmed:
    <h2> Your Booking</h2>

    <p id = "bookingData"></p>

</body>
</html>