{% load static %}
<!DOCTYPE html>
<html>

<head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'misc2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/explorePage.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}

    </style>
    
</head>
<body onLoad= formLoop()>
  <div class="header">

    <div class="logo-div">
    <a href="#default" class="logo">Air Arctic</a>
    </div>
    <div class="header-left">
      <a class="active" href="/api/exploreTrip/">Search Flights</a>
      <a href="/api/manageBooking/">Manage Booking</a>
      <a href="#about">Flight Status</a>
    </div>
    <div class="header-right">
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="btn1 btn1-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Air Arctic Rewards</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/api/logout/">Logout</a>
        </div>
      </div>
      {% else %}
      <a href ="/api/loginPage/">Login</a>
      <a href="/api/register/">Join Now</a>
      {% endif %}
      

    </div>
  </div>

<div class="explore">
<h2>Who's Travelling</h2>
<div id="passangerDiv">

  <h2>Passanger 1</h2>
 <form id="passangerForm" method = "post" action="{% url 'submitpassangerPage' %}">
    {% csrf_token %}

  {% if request.user.is_authenticated %}
  
  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName" value="{{request.user.first_name}}" required><br>
  
  <label for="lastName">Last Name:</label><br>
  <input type="text" id="lastName" name="lastName" value="{{request.user.last_name}}" required><br>

  <label for="dob">Date of Birth:</label><br>
  <input type="date" id="dob" name="dob" value="{{dob}}" required><br>

  {% else %}

  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName" value="{{firstName}}" required><br>
  
  <label for="lastName">Last Name:</label><br>
  <input type="text" id="lastName" name="lastName" value="{{lastName}}" required><br>

  <label for="dob">Date of Birth:</label><br>
  <input type="date" id="dob" name="dob" value="{{dob}}" required><br>

  {% endif %}

<br>


  <button type="submit" value="review" > Review Details & Checkout</button><br>

 </form> 
</div>
</div>

<script>
 
        var jsUrl = new URL(window.location.href);
        var passangers = jsUrl.searchParams.get("passanger");

        console.log("url " + jsUrl)
        console.log("No of passangers:" + passangers)

        let passangerForm = document.querySelectorAll(".passangerForm")
        let passangerD =document.getElementById("passangerDiv")
        
        function formLoop() {      

               for (let i = 1; i <= passangers; i++) {
                
                  console.log(passangerD)
                  console.log(passangerForm)
                  
                  let newForm = passangerD.cloneNode(true) 
                  //passangerD.append(newForm)
                  
                }
            }

        
            

</script>

<div class="footer">
  <div class="footer-right">
    <a class="active" href="#home">Search Flights</a>
    <a href="#contact">Manage Booking</a>
    <a href="#about">Login</a>
  </div>
</div>

</body>
</html>

<!--New trial------------------------------------------------------------------->
<!--New trial------------------------------------------------------------------->
