
{% load static %}
<!DOCTYPE html>
<html>

<head>

     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'misc2.js' %}"></script>

    <style>
    table,th, td {
    padding: 15px;
      }
    </style>
    

</head>
<body onLoad= formLoop()>
{{request.user}}
{% if request.user.is_authenticated %}
<a href ="/api/logout/" type="submit">Logout</a><br>
{% else %}
<a href ="/api/loginPage/" type="submit">LogIn</a><br>
{% endif %}
<h2>Who's Travelling</h2>
<div id="passangerDiv">

  <h2>Passanger 1</h2>
 <form id="passangerForm" method = "post" action="{% url 'submitpassangerPage' %}">
    {% csrf_token %}

  {% if request.user.is_authenticated %}
  
  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName" value="{{request.user.first_name}}" required><br>
  
  <label for="lastName">Last Name:</label><br>
  <input type="text" id="lastName" name="lastName" value="{{request.user.last_name}}" required><br>

  <label for="dob">Date of Birth:</label><br>
  <input type="date" id="dob" name="dob" value="{{dob}}" required><br>

  {% else %}

  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName" value="{{firstName}}" required><br>
  
  <label for="lastName">Last Name:</label><br>
  <input type="text" id="lastName" name="lastName" value="{{lastName}}" required><br>

  <label for="dob">Date of Birth:</label><br>
  <input type="date" id="dob" name="dob" value="{{dob}}" required><br>

  {% endif %}




  <button type="submit" value="review" > Review Details & Checkout</button><br>

 </form> 
</div>

<script>
 
        var jsUrl = new URL(window.location.href);
        var passangers = jsUrl.searchParams.get("passanger");

        console.log("url " + jsUrl)
        console.log("No of passangers:" + passangers)

        let passangerForm = document.querySelectorAll(".passangerForm")
        let passangerD =document.getElementById("passangerDiv")
        
        function formLoop() {      

               for (let i = 1; i <= passangers; i++) {
                
                  console.log(passangerD)
                  console.log(passangerForm)
                  
                  let newForm = passangerD.cloneNode(true) 
                  //passangerD.append(newForm)
                  
                }
            }

        
            

</script>

</body>
</html>

<!--New trial------------------------------------------------------------------->
<!--New trial------------------------------------------------------------------->
