{% load static %}
<!DOCTYPE html>
<html>

<head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'misc2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/explorePage.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    
</head>
<body>

  <div class="header">

    <div class="logo-div">
    <a href="#default" class="logo">Air Arctic</a>
    </div>
    <div class="header-left">
      <a class="active" href="/api/exploreTrip/">Search Flights</a>
      <a href="/api/manageBooking/">Manage Booking</a>
      <a href="#about">Flight Status</a>
    </div>
    <div class="header-right">
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="btn1 btn1-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Air Arctic Rewards</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/api/logout/">Logout</a>
        </div>
      </div>
      {% else %}
      <a href ="/api/loginPage/">Login</a>
      <a href="/api/register/">Join Now</a>
      {% endif %}
      

    </div>
  </div>


<div class = "explore" >

  
<form class="container" method = "post" action="{% url 'submitexploreform' %}">
   <h1 style="font-family: "Lucida Console", "Courier New", monospace;">Explore flights</h1>
  <h3>Search for Air Arctic flights and book online</h3>
  {% csrf_token %}
  <div class="inputform">
  <label for="trip">Trip</label><br>
  <select name="trip" id="trip" name="{{trip}}" onchange="handleChange(event)">
    <option id="oneway" value="ONEWAY">ONEWAY</option>
    <option id="roundtrip" value="ROUNDTRIP">ROUNDTRIP</option>
  </select><br>

  <label for="from">Travelling from</label><br>
  <input type="text" id="from" name="from" placeholder="Travelling From" value="{{from}}" required>

  <label for="to">Travelling To</label>
  <input type="text" id="to" name="to" placeholder="Travelling To" value="{{to}}" required><br>


  <div class= "date">
  <div class="startdate1" name="startdate1" id="startdate1">
    <label for="startdate">Start Date</label><br>
    <input type="date" id="startdate" name="startdate" value="{{startdate}}" required>
  </div>

  <div class="enddate1" name="enddate1" id="enddate1">
   <label for="enddate">Return date</label><br>
   <input type="date" id="enddate" name="enddate" value="{{enddate}}" ><br><br>
  </div>
  </div>

  <label for="passanger">Passangers Travelling:</label><br>
  <input type="number" id="passanger" name="passanger" value="{{passanger}}" required><br><br><br>
  </div>
  
  <div class = "btn">
  <button type="submit" value="Search Flights" > Search Flights</button>
  </div>
  </form>


</div>

<div class="footer">
  <div class="footer-right">
    <a class="active" href="#home">Search Flights</a>
    <a href="#contact">Manage Booking</a>
    <a href="#about">Login</a>
  </div>
</div>

<script>


  $(".startdate1, .enddate1").hide()
  
  var triP =  document.getElementById("trip");
  var tripD = trip.options[trip.selectedIndex].value;
  
  function handleChange(e) {
    let innerText = e.target[e.target.options.selectedIndex].innerText;
    tripD = e.target.value;
  
   console.log(tripD)
  
   $('#enddate1').hide()
  
   if (tripD == "ONEWAY") {
  
  $('#startdate1').show();
  }
  
  else if (tripD == "ROUNDTRIP") {
  
  $('#enddate1').show();
  $('#startdate1').show();
  }
  
  }
  
  
   console.log(tripD)
  
  
  if (tripD == "ONEWAY") {
  
    $('#startdate1').show();
  }
  
  else if (tripD == "ROUNDTRIP") {
  
   $('#enddate1').show();
   $('#startdate1').show();
  }
  </script>
  

</body>
</html>